doctype html
head
  title Calendar Widget
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=0.2, shrink-to-fit=yes')
  link(rel='stylesheet' href='stylesheets/style.css')
section
  .container
    .row
      .col-md-12
        .elegant-calencar.d-md-flex
          .wrap-header.d-flex.d-md-none.align-items-center
            .d-flex.ml-3(style='color: white;')
              .pre-button
                svg(viewbox='0 0 30 30' width='25' height='25')
                  path(d='M21.09375 2.984375 A 2.0002 2.0002 0 0 0 19.837891 3.3730469L5.8378906 13.373047 A 2.0002 2.0002 0 0 0 5.8378906 16.626953L19.837891 26.626953 A 2.0002 2.0002 0 1 0 22.162109 23.373047L10.439453 15L22.162109 6.6269531 A 2.0002 2.0002 0 0 0 21.09375 2.984375 z' fill='#FFFFFF')
              .ml-3.next-button
                svg(viewbox='0 0 30 30' width='25' height='25')
                  path(d='M9.0449219 2.984375 A 2.0002 2.0002 0 0 0 7.8378906 6.6269531L19.560547 15L7.8378906 23.373047 A 2.0002 2.0002 0 1 0 10.162109 26.626953L24.162109 16.626953 A 2.0002 2.0002 0 0 0 24.162109 13.373047L10.162109 3.3730469 A 2.0002 2.0002 0 0 0 9.0449219 2.984375 z' fill='#FFFFFF')
            #header.p-0
              div
                .head-month(style='font-size:larger;')
          .wrap-header.d-none.d-md-flex.flex-column.justify-content-center
            .d-flex.align-items-center.ml-3(style='color: white;')
              .pre-button
                svg(viewbox='0 0 30 30' width='25' height='30')
                  path(d='M21.09375 2.984375 A 2.0002 2.0002 0 0 0 19.837891 3.3730469L5.8378906 13.373047 A 2.0002 2.0002 0 0 0 5.8378906 16.626953L19.837891 26.626953 A 2.0002 2.0002 0 1 0 22.162109 23.373047L10.439453 15L22.162109 6.6269531 A 2.0002 2.0002 0 0 0 21.09375 2.984375 z' fill='#FFFFFF')
              #header.p-0
                .head-info
                  .head-month(style='font-size: small; margin-top: 4px;')
              .mr-3.next-button
                svg(viewbox='0 0 30 30' width='25' height='25')
                  path(d='M9.0449219 2.984375 A 2.0002 2.0002 0 0 0 7.8378906 6.6269531L19.560547 15L7.8378906 23.373047 A 2.0002 2.0002 0 1 0 10.162109 26.626953L24.162109 16.626953 A 2.0002 2.0002 0 0 0 24.162109 13.373047L10.162109 3.3730469 A 2.0002 2.0002 0 0 0 9.0449219 2.984375 z' fill='#FFFFFF')
          .calendar-wrap
            table#calendar
              thead
                tr
                  th Sun
                  th Mon
                  th Tue
                  th Wed
                  th Thu
                  th Fri
                  th Sat
              tbody
                tr
                  td
                  td
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                  td
                  td
                tr
                  td
                  td
                  td
                  td
                  td
                  td
                  td
script(src='javascripts/jquery.min.js')
script(src='javascripts/popper.js')
script(src='javascripts/bootstrap.min.js')
script(src='javascripts/main.js')
